#timer {
    width: 65px;
    float: right;
}

#view_high_scores {
    width: 130px;
    float: left;
}

#content {
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.question {
    text-align: left;
    margin-left: 40px;
}

.answer-choices {
    list-style-type: none;
    text-align: left;
}

.answer-choices li {
    margin-bottom: 10px;
}

#answer-result {
    color: #ccc;
    
}

#test-results {
    width: 300px;
    margin: 0 auto;
}

#test-results p {
    color: red;
}

.selection {
    margin: 10px;
}