#timer {
    width: 65px;
    float: right;
}

#view_high_scores {
    width: 130px;
    float: left;
}

#content {
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.question {
    text-align: left;
    margin-left: 40px;
}

.answer-choices {
    list-style-type: none;
    text-align: left;
}

.answer-choices li {
    margin-bottom: 10px;
}