#timer {
    width: 65px;
    float: right;
    margin-top: 2px;
}

.center {
    text-align: center;
}

#view_high_scores {
    width: 65px;
    float: left;
}

#content {
    text-align: center;
}

.clearfix {
    overflow: auto;
}

.question {
    text-align: left;
    margin-left: 40px;
}

.answer-choices {
    list-style-type: none;
    text-align: left;
}

.answer-choices li {
    margin-bottom: 10px;
}

#answer-result {
    color: #ccc;
    
}

#test-results {
    width: 300px;
    margin: 0 auto;
}

#test-results p {
    color: red;
}

.selection {
    margin: 10px;
}

.table.table-bordered {
    max-width: 1000px;
    margin: 0 auto;
}

.table th:first-of-type {
    width: 50px;
}




@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 18pt;
    }
    h3 {
        font-size: 14pt;
    }
    p {
        font-size: 10pt;
    }
    button.btn.btn-primary {
        font-size: 10pt;
    }
    .table.table-bordered th,
    .table.table-bordered td  {
        font-size: 10pt;
    }
    input[placeholder] {
        font-size: 12px;
    }
    input[type="text"] {
        margin-left: 15px;
    }
    #answer-result {
        font-size: 10pt;
    }
    #timer {
        font-size: 10pt;
        width: 55px;
    }

    #view-high-scores {
        width: 55px;
        font-size: 10pt;
    }
    
  }